body {
  background-color: #526392;
  color: #fff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

a {
  color: #fff;
}

a:hover {
  color: #DA0463;
  text-decoration: none;
}

.title {
  color: #DBEDF3;
  font-size: 5rem;
  padding: 0 1rem;
  text-shadow: 3px 0 #DA0463;
}

.logo {
  width: 5rem;
}

.info {
  font-style: oblique;
  padding: 1rem;
}

.drums {
  padding: 1rem 0;
}

footer {
  color: #DBEDF3;
  margin: 3rem 0;
}

.drum {
  background-color: white;
  border: 0.6rem solid #404B69;
  border-radius: 15px;
  color: #DA0463;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2;
  height: 150px;
  width: 150px;
  margin: 0.6rem;
  text-shadow: 3px 1px 1px #ffffff;
  outline: none;
}

.w {
background-image: url('images/tom1.png');
}

.a {
  background-image: url('images/tom2.png');
}

.s {
  background-image: url('images/tom3.png');
}

.d {
  background-image: url('images/tom4.png');
}

.x {
  background-image: url('images/snare.png');
}

.c {
  background-image: url('images/crash.png');
}

.v {
  background-image: url('images/kick.png');
}


@media  screen and (max-width:576px) {
  
  .title {
    font-size: 3rem;
  }
  
  
  .info {
    font-size: 1.1rem;
  }
}